<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informações do plantio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contentMain">
    <div class="containerMonthRange">
      <div class="contentInfoMonth">
        <h1>Primeiro mês</h1>
        <p>Temperatura: <span>{{ months.one }}ºC</span></p>
      </div>
      <ion-range id="rangeMonthOne" [ticks]="true" [snaps]="false" [value]="20" [min]="0" [max]="40"
        (ionChange)="onValueMonthOne($event)"></ion-range>
    </div>
    <div class="containerMonthRange">
      <div class="contentInfoMonth">
        <h1>Segundo mês</h1>
        <p>Temperatura: <span>{{ months.two }}ºC</span></p>
      </div>
      <ion-range id="rangeMonthTwo" [ticks]="true" [snaps]="false" [value]="20" [min]="0" [max]="40"
        (ionChange)="onValueMonthTwo($event)"></ion-range>
    </div>
    <div class="containerMonthRange">
      <div class="contentInfoMonth">
        <h1>Terceiro mês</h1>
        <p>Temperatura: <span>{{ months.three }}ºC</span></p>
      </div>
      <ion-range id="rangeMonthThree" [ticks]="true" [snaps]="false" [value]="20" [min]="0" [max]="40"
        (ionChange)="onValueMonthThree($event)"></ion-range>
    </div>
    <div class="containerMonthRange">
      <div class="contentInfoMonth">
        <h1>Quarto mês</h1>
        <p>Temperatura: <span>{{ months.four }}ºC</span></p>
      </div>
      <ion-range id="rangeMonthFour" [ticks]="true" [snaps]="false" [value]="20" [min]="0" [max]="40"
        (ionChange)="onValueMonthFour($event)"></ion-range>
    </div>
    <ion-button color="light" (click)="toResultPage()">Calcular</ion-button>
  </div>
</ion-content>