<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-range id="rangeMonthOne" [ticks]="true" [snaps]="false" [min]="0" [max]="40"
    (ionChange)="onValueMonthOne($event)"></ion-range>
  <p>{{ months.one }}</p>
  <ion-range id="rangeMonthTwo" [ticks]="true" [snaps]="false" [min]="0" [max]="40"
    (ionChange)="onValueMonthTwo($event)"></ion-range>
  <p>{{ months.two }}</p>
  <ion-range id="rangeMonthThree" [ticks]="true" [snaps]="false" [min]="0" [max]="40"
    (ionChange)="onValueMonthThree($event)"></ion-range>
  <p>{{ months.three }}</p>
  <ion-range id="rangeMonthFour" [ticks]="true" [snaps]="false" [min]="0" [max]="40"
    (ionChange)="onValueMonthFour($event)"></ion-range>
  <p>{{ months.four }}</p>
  <ion-button color="light" (click)="toResultPage()">Calcular</ion-button>
</ion-content>
