.contentMain {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.contentMain ion-range {
  width: 100%;
}

.contentMain ion-button {
  width: 100%;
}

.contentMain ion-button {
  margin-bottom: 10px;
  border-radius: 10px;
}

.contentMain .containerMonthRange {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #e3e3e327;
  border-radius: 10px;
  background-color: #1f1f1f;
}

.contentMain:last-child {
  margin-bottom: 0px;
}

.contentMain .containerMonthRange .contentInfoMonth {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #2b2b2b;
}

.contentMain .containerMonthRange .contentInfoMonth h1 {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 20px;
}

.contentMain .containerMonthRange .contentInfoMonth h1 ion-icon {
  margin-right: 8px;
}

.contentMain .containerMonthRange .contentInfoMonth p {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 0px;
  color: #b4b4b4;
}

.contentMain .containerMonthRange .contentInfoMonth p ion-icon {
  margin-right: 8px;
}

.contentMain .containerMonthRange .contentInfoMonth p span {
  margin-left: 5px;
  color: rgb(53, 140, 255);
  font-weight: bold;
}

.contentMain .containerMonthRange .footerMonthRange {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contentMain .containerMonthRange .footerMonthRange .minLabel {
  margin-right: 12px;
  color: #bdbdbd;
  font-size: 13px;
}

.contentMain .containerMonthRange .footerMonthRange .maxLabel {
  margin-left: 12px;
  color: #bdbdbd;
  font-size: 13px;
}